{% load static %}
<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <title>SGT CAN tool</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#cccccc"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#ecd96f">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "script.js" %}"></script>

    {% block head %}
    {% endblock head %}
</head>

<body class="bg-light d-flex flex-column min-vh-100">
{# alert popup#}
{% if messages %}
    {% for message in messages %}
        <div class="collapse show" id="alert">
            <div class="alert alert-danger rounded-0">
                <button type="button" class="btn-close align-middle" aria-label="Close" data-bs-toggle="collapse"
                        data-bs-target="#alert"></button>
                <strong class="ms-3 align-middle">{{ message }}</strong>
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-4"><img class="img-fluid ms-auto me-auto d-block img-logo" alt="..."
                                   src="/static/logo-stuba-green-team.svg"></div>
        <div class="col-md-4 text-xl-center text-lg-center text-center text-sm-center text-md-center pt-4 mt-5">
            <h3 class="text-break"><strong>{% block headline %}{% endblock headline %}</strong></h3>
        </div>
        {% block edit %}
        {% endblock edit %}
    </div>
</div>

{% if user.is_authenticated %}
    {% block content %}
    {% endblock content %}
{% else %}
    <button type="button" class="btn btn-primary ms-auto me-auto d-block mt-3 btn-xl" id="to_login"
            onclick="location.href='{% url 'login' %}'">Prihlasiť sa
    </button>
{% endif %}
<div class="container mt-5 mb-5"></div>
<footer class="footer pb-5 pt-5 bg-dark mt-auto">
    <div class="container text-end">
        <a class="mb-0 text-muted text-decoration-none" href="https://forms.gle/nPi6qr9rpEphgrQG9" target="_blank"
           rel="noopener noreferrer">Nahlásiť chybu</a>
    </div>
</footer>
</body>
</html>