{% extends "base.html" %}

{% block head %}
    <script>
        function tooltips() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        }

        window.onload = tooltips;
    </script>
{% endblock head %}

{% block headline %}
    Pridať správu do {{ car.name }} >> {{ can_bus.name }}
{% endblock headline %}

{% block content %}
    <div class="container pt-5 bg-white shadow-sm rounded pb-5 ps-5 pe-5">
        <form id="form" class="container" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="row mt-4">
                    <label class="col-form-label col-sm-2" for="text1">ID</label>
                    <div class="col-sm-10">{{ form.identifier }}</div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row mt-4">
                    <label class="col-form-label col-sm-2" for="text1">Názov</label>
                    <div class="col-sm-10">{{ form.name }}</div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row mt-4">
                    <label class="col-form-label col-sm-2" for="text1">Tx</label>
                    <div class="col-sm-10">{{ form.transmitter }}</div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row mt-4">
                    <label class="col-form-label col-sm-2" for="text1">Rx</label>
                    <div class="col-sm-10">{{ form.receivers }}</div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row mt-4">
                    <label class="col-form-label col-sm-2" for="text3">Poznámka</label>
                    <div class="col-sm-10">{{ form.note }}</div>
                </div>
            </fieldset>
        </form>
        <p class="mt-4 d-flex flex-column">{{ form.errors }}</p>
    </div>
    <div class="container pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary ms-auto me-auto d-block mb-5 btn-xl" id="back"
                            onclick="location.href='{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}'">
                        <i class="left-arrow "></i> Späť
                    </button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button form="form" type="submit" class="btn btn-primary ms-auto me-auto d-block mb-5 btn-xl"
                            id="save">Uložiť
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}