{% extends "base.html" %}

{% block head %}
    <script>
        function codeAddress() {
            {% for key,value in user_preferences.items %}
                {% if value == 1 %}
                    hide_show_table('{{key}}', '{% url 'cars' %}', '{{ csrf_token }}')
                {% else %}
                    document.getElementById('{{key}}').checked = true;
                {% endif %}
            {% endfor %}
            $('#content').show();
        }

        window.onload = codeAddress;
    </script>
{% endblock head %}

{% block headline %}
    <a class="text-decoration-none text-dark" href='{% url 'can-buses' car_id=car.id %}'>{{ car.name }}</a>
    >>
    <a class="text-decoration-none text-dark" href='{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}'>{{ can_bus.name }}</a>
    >>
    <a class="text-decoration-none text-dark" href='{% url 'signals' car_id=car.id can_bus_id=can_bus.id message_id=message.id %}'>{{ message.name }}</a>

{% endblock headline %}

{% block edit %}
    <div class="col-md-4 pt-5">
        <button type="button" class="btn btn-primary ms-auto me-auto d-block mt-4 mb-5 btn-xl" id="edit"
                onclick="location.href='{% url 'messages_edit' car_id=car.id can_bus_id=can_bus.id message_id=message.id %}'">
            Upraviť
        </button>
    </div>
{% endblock %}

{% block content %}
    <div id="content" style="display:none;">
        <div class="container align-middle pt-5 bg-white shadow-sm rounded pb-5 ps-5 pe-5">
            <div class="text-xl-center text-lg-center text-center text-sm-center text-md-center mb-5">
                <h3 class="align-content-center"> Signály:</h3>
            </div>
            <div class="dropdown checkbox_div list-unstyled mb-4 d-flex justify-content-end">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Stĺpce
                </button>
                <ul class="dropdown-menu">
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_name"
                               onchange="hide_show_table(this.id , '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_name" class="ms-2 align-top">Názov</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_start_bit"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_start_bit" class="ms-2 align-top">Start bit</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_length"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_length" class="ms-2 align-top">Dĺžka</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_is_little_endian"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_little_endian" class="ms-2 align-top">Byte order</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_is_signed"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_is_signed" class="ms-2 align-top">Value type</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_factor"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_factor" class="ms-2 align-top">Factor</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_offset"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_offset" class="ms-2 align-top">Offset</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_min"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_min" class="ms-2 align-top">Minimum</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_max"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_max" class="ms-2 align-top">Maximum</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_unit"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_unit" class="ms-2 align-top">Unit</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_receivers"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_receivers" class="ms-2 align-top">Rx</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_is_multiplexer"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_is_multiplexer" class="ms-2 align-top">Multiplexer</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_multiplexer_signal"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_multiplexer_signal" class="ms-2 align-top">Multiplexer signal</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_multiplexer_value"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_multiplexer_value" class="ms-2 align-top">Multiplexer value</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_note"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_note" class="ms-2 align-top">Poznámka</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_author"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_author" class="ms-2 align-top">Autor</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_changed_at"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_changed_at" class="ms-2 align-top">Posledná zmena</label></li>
                    <li><input class="form-check-input small-checkbox green-checkbox mt-05" type="checkbox" value="hide" id="signal_created_at"
                               onchange="hide_show_table(this.id, '{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}', '{{ csrf_token }}');"/><label
                            for="signal_created_at" class="ms-2 align-top">Dátum vytvorenia</label></li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table table-fit table-white table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" id="signal_name_head">Názov</th>
                        <th scope="col" id="signal_start_bit_head">Start bit</th>
                        <th scope="col" id="signal_length_head">Dĺžka [bit]</th>
                        <th scope="col" id="signal_is_little_endian_head">Byte order</th>
                        <th scope="col" id="signal_is_signed_head">Value type</th>
                        <th scope="col" id="signal_factor_head">Factor</th>
                        <th scope="col" id="signal_offset_head">Offset</th>
                        <th scope="col" id="signal_min_head">Minimum</th>
                        <th scope="col" id="signal_max_head">Maximum</th>
                        <th scope="col" id="signal_unit_head">Unit</th>
                        <th scope="col" id="signal_receivers_head">Rx</th>
                        <th scope="col" id="signal_is_multiplexer_head">Multiplexer</th>
                        <th scope="col" id="signal_multiplexer_signal_head">Multiplexer signal</th>
                        <th scope="col" id="signal_multiplexer_value_head">Multiplexer value</th>
                        <th scope="col" id="signal_note_head">Poznámka</th>
                        <th scope="col" id="signal_author_head">Autor</th>
                        <th scope="col" id="signal_changed_at_head">Posledná zmena</th>
                        <th scope="col" id="signal_created_at_head">Dátum vytvorenia</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i, signal in table_signals %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td class="signal_name">
                                <div class="maxsize">{{ signal.name }}</div>
                            </td>
                            <td class="signal_start_bit">
                                <div class="maxsize">{{ signal.start_bit }}</div>
                            </td>
                            <td class="signal_length">
                                <div class="maxsize">{{ signal.length }}</div>
                            </td>
                            <td class="signal_is_little_endian">
                                <div class="maxsize">{{ signal.is_little_endian|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_is_signed">
                                <div class="maxsize">{{ signal.is_signed|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_factor">
                                <div class="maxsize">{{ signal.factor|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_offset">
                                <div class="maxsize">{{ signal.offset|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_min">
                                <div class="maxsize">{{ signal.min|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_max">
                                <div class="maxsize">{{ signal.max|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_unit">
                                <div class="maxsize">{{ signal.unit|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_receivers">
                                <div class="maxsize">{{ signal.receivers|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_is_multiplexer">
                                <div class="maxsize">{{ signal.is_multiplexer|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_multiplexer_signal">
                                <div class="maxsize">{{ signal.multiplexer_signal|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_multiplexer_value">
                                <div class="maxsize">{{ signal.multiplexer_value|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_note">
                                <div class="maxsize">{{ signal.note|default_if_none:'' }}</div>
                            </td>
                            <td class="signal_author">
                                <div class="maxsize">{{ signal.author }}</div>
                            </td>
                            <td class="signal_changed_at">
                                <div class="maxsize">{{ signal.changed_at.date.isoformat }}</div>
                            </td>
                            <td class="signal_created_at">
                                <div class="maxsize">{{ signal.created_at.date.isoformat }}</div>
                            </td>
                            <td>
                                <div class="d-flex flex-row">
                                    <a href="{% url 'signals_edit' car_id=car.id can_bus_id=can_bus.id message_id=message.id signal_id=signal.id %}">
                                        <button type="button" class="btn btn-primary" id="button5">Upraviť</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary ms-auto me-auto d-block mt-3" id="add"
                    onclick="location.href='{% url 'signals_create' car_id=car.id can_bus_id=can_bus.id message_id=message.id %}';">
                Pridať
            </button>
        </div>
        <div class="container pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary ms-auto me-auto d-block mb-5 btn-xl" id="back"
                                onclick="location.href='{% url 'messages' car_id=car.id can_bus_id=can_bus.id %}';">
                            <i class="left-arrow "></i> Späť
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}